<h1><%= @restaurant.name %></h1>
<div class="row">
  <div class="col-6">
    <h2>Infos</h2>
    <p><em>Category: <%= @restaurant.category %></em></p>
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone: <%= @restaurant.phone_number %></p>
  </div>
  <div class="col-6">
    <h2>Reviews</h2>
    <% if @restaurant.reviews.empty? %>
      <p>No review for now...</p>
    <% else %>
      <% @restaurant.reviews.each do |review| %>
        <div class="row mb-3 border-bottom">
          <div class="col-10">
            <%= review.content %>
          </div>
          <div class="col-2">
            Rating: <%= review.rating %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%#= link_to "Create review", new_restaurant_review_path(@restaurant), class:'btn btn-primary' %>
    <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, as: :select, collection: 0..5 %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>

  </div>
</div>
<div class="row">
  <div class="col">
    <%= link_to "Back to the restaurants", restaurants_path, class:'btn btn-info'%>
  </div>
</div>

